---
import BaseHead from '../components/BaseHead.astro';
import Navigation from '../components/Navigation.astro';
import TopNav from '../components/Top-nav.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION, SITE_ABOUT } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class=" bg-white-light">

			<div class="flex flex-col min-h-dvh">

			<TopNav />

			<!-- Head -->
			<header class=" bg-gradient-head bg-center bg-cover">
				
				<Navigation />

				<!-- Container -->
				<div class="container">

					<!-- Head - Content -->
					<div class=" relative flex flex-col pt-16 pb-16">

						<div class=" z-10 flex flex-row justify-center pt-4 pb-4">
							<h1 class=" text-center uppercase text-6xl xl:text-7xl font-bold ">{SITE_ABOUT}</h1>
						</div>

					</div>
				</div>

			</header>
			
			<main class="pb-20 grow flex flex-col gap-10 md:gap-20">
				
				<!-- About Me -->
				<section class=" m-4 sm:m-0 relative">
					<div class="container">
						<div class=" absolute invisible lg:visible h-16 z-10 top-32 right-4"><img class=" object-cover h-full drop-shadow-xl" src="/element/element-blue-pointilletlarge.png" alt=""></div>
						<div class=" absolute h-6 z-10 -bottom-3 left-48"><img class=" object-cover h-full drop-shadow-xl" src="/element/element-yellowdark-cross.png" alt=""></div>
						<div class=" absolute h-6 z-10 -bottom-3 left-60"><img class=" object-cover h-full drop-shadow-xl" src="/element/element-yellowdark-cross.png" alt=""></div>

						<div class=" relative grid lg:grid-cols-3 p-10 md:mx-16 rounded-2xl bg-[#007368]">
							<div class=" col-span-2 flex flex-col gap-2">
								<h3><span class="font-ephesis text-white text-5xl ">About Me</span></h3>
								<p class=" text-white text-sm">Passionnée par la communication et le design, j'ai acquis des compétences variées dans la création de contenus, la gestion de projets et le développement web. Polyvalente et créative, je m'investis dans des projets qui allient innovation et impact, en apportant des solutions adaptées aux besoins de chaque client. Mon objectif est de valoriser chaque projet grâce à une stratégie de communication efficace et des visuels percutants.</p>
								<div class=" flex justify-end"><a class=" py-1 px-4 rounded-lg text-[#007368] bg-white text-md" href="/about">About Me</a></div>
							</div>
							<div class=" absolute invisible lg:visible bottom-8 right-14 h-72 xl:h-80">
								<img class=" object-cover h-full drop-shadow-xl" src="/img-profil-mathilde-decoux-portfolio.png" alt="">
							</div>
						</div>
					</div>
				</section>

				<!-- Telechargement -->
				<section class="m-4 sm:m-0">
					<div class=" container flex justify-center">
						<a class="rounded-md border-[1px] border-solid border-black px-4 py-1 hover:bg-yellow-light hover:text-white hover:border-yellow-light" href="DECOUXMathilde_CV.pdf" download="DECOUXMathilde_CV.pdf">Télécharger mon CV</a>
					</div>
				</section>

				<!-- CV -->
				<section class=" m-4 sm:m-0 ">
					<div class=" container flex flex-col gap-6 lg:gap-12">

						<h2 class=" text-center text-5xl uppercase font-bold">Un Aperçu de <span class="font-ephesis text-green-dark-800 normal-case text-6xl ">Mon Chemin</span></h2>

						<div class=" relative flex flex-col lg:flex-row items-center gap-4 lg:gap-8 lg:px-24 ">

							<div class=" absolute invisible lg:visible h-16 z-10 top-52 right-[560px]"><img class=" object-cover h-full drop-shadow-xl" src="/element/element-yellowdark-pointilletlarge.png" alt=""></div>
							<div class=" absolute h-6 z-10 -bottom-3 right-36"><img class=" object-cover h-full drop-shadow-xl" src="/element/element-blue-cross.png" alt=""></div>

							<div class="lg:w-1/2 flex flex-row flex-wrap gap-4 lg:gap-x-16 lg:gap-y-8 lg:pl-4">

								<div class=" flex flex-col gap-1">
									<h3>Mes <span class="font-ephesis text-green-dark-800 text-5xl ">centres d'intérêts</span></h3>
									<ul class=" pl-2">
										<li><p>• Design / Graphisme</p></li>
										<li><p>• Photographie Sportive</p></li>
										<li><p>• Lecture</p></li>
										<li><p>• Sauvetage Sportif</p></li>
										<li><p>• Bénévolat</p></li>
									</ul>
								</div>
								
								<div class=" flex flex-col gap-1">
									<h3>Mes <span class="font-ephesis text-green-dark-800 text-5xl ">langues</span></h3>
									<ul class=" pl-2">
										<li><p>• Anglais - A2</p></li>
										<li><p>• Espagnol - C1</p></li>
									</ul>
								</div>
	
								<div class=" flex flex-col gap-1">
									<h3>Mes <span class="font-ephesis text-green-dark-800 text-5xl ">formations</span></h3>

									<p class=" pl-2 font-bold">2022 - <span class="italic">(En cours)</span></p>
									<p class=" pl-2">IUT du Limousin - Limoges (87)</p>
									<p class=" pl-2">BUT MMI (Métiers du Multimédia et de l'Internet)</p>
	
									<p class=" pl-2 font-bold">2021 - 2022</p>
									<p class=" pl-2">Lycée Général Jean Giraudoux - Châteauroux (36)</p>
									<p class=" pl-2">Baccalauréat et Bachillerato (BacEspagnol) </p>
								</div>
							</div>

							<div class="lg:w-1/2 rounded-lg overflow-hidden grayscale">
								<img src="https://images.pexels.com/photos/7241413/pexels-photo-7241413.jpeg?auto=compress&cs=tinysrgb&w=800&lazy=load" alt="">
							</div>
							
						</div>

						<div class=" relative flex flex-col-reverse lg:flex-row items-center gap-4 lg:gap-8 lg:px-24 ">

							<div class="lg:w-1/2 rounded-lg overflow-hidden grayscale">
								<img src="https://images.pexels.com/photos/4065895/pexels-photo-4065895.jpeg?auto=compress&cs=tinysrgb&w=800&lazy=load" alt="">
							</div>

							<div class="lg:w-1/2 flex flex-col gap-4 lg:pr-4">
								<h3 class=" text-center lg:text-left">Mes <span class="font-ephesis text-green-dark-800 text-5xl ">expérience</span></h3>
								
								<div>
									<h4>Responsable Communication (mission bénévole)</h4>
									<p class=" font-bold">ASSC - Association des Sauveteurs Secouristes de
										Châteauroux - depuis Octobre 2022</p>
									<ul>
										<li><p>• Gestion du site internet (Article, Information formation, photo)</p></li>
										<li><p>• Gestion des réseaux sociaux (Formation, Sport, Événements...)</p></li>
										<li><p>• Création des visuels, affiches, flyer, vidéos, photos ...</p></li>
									</ul>

									<p class=" font-bold">Ekiden 36 - depuis Janvier 2023</p>
									<ul>
										<li><p>• Gestion des réseaux sociaux (Facebook et Instagram</p></li>
										<li><p>• Création des visuels (affiches, flyer, vidéos, post ...)</p></li>
										<li><p>• Gestion du site internet</p></li>
									</ul>
								</div>
								
								<div>
									<h4>Survaillante Sauveteuse</h4>
									<p class=" font-bold">Piscine de Levroux - Juin à Août 2024</p>
									<ul>
										<li><p>• Suiveillance Baignade et Plage</p></li>
										<li><p>• Secourisme</p></li>
									</ul>
								</div>

								<div>
									<h4>Pause Médicale</h4>
									<p class=" font-bold">Été 2023</p>
								</div>

								<div>
									<h4>Ajointe Cheffe de Poste</h4>
									<p class=" font-bold">Baignade de Belle-Isle Châteauroux - Juillet 2022</p>
									<ul>
										<li><p>• Administration du poste</p></li>
										<li><p>• Gestion d'une équipe</p></li>
										<li><p>• Suiveillance Baignade et Plage</p></li>
										<li><p>• Secourisme</p></li>
									</ul>
								</div>

								<div>
									<h4>Sauveteur Qualifié</h4>
									<p class=" font-bold">Baignade de Belle-Isle Châteauroux - Juillet 2021</p>
									<ul>
										<li><p>• Suiveillance Baignade et Plage</p></li>
										<li><p>• Secourisme</p></li>
									</ul>
								</div>

							</div>

						</div>

						<div class=" relative flex flex-col items-center gap-8 lg:px-12 ">
							<h3>Mes <span class="font-ephesis text-green-dark-800 text-5xl ">compétences</span></h3>

							<div class=" flex flex-col md:flex-row justify-center md:flex-wrap gap-4 md:gap-8 w-full">

								<div class=" w-max">
									<h4>Communication</h4>
									<ul>
										<li><p>• Gestion de prolet</p></li>
										<li><p>• Communication Interne et externe</p></li>
										<li><p>• Audit numérique</p></li>
										<li><p>• Réseaux sociaux (FB, Inta, Tiktok)</p></li>
										<li><p>• Création et gestion de sites web</p></li>
									</ul>
								</div>

								<div class=" w-max">
									<h4>Graphisme</h4>
									<ul>
										<li><p>• Création graphique</p></li>
										<li><p>• Suite Adobe</p></li>
										<li><p>• LibreOffice</p></li>
										<li><p>• Figma</p></li>
										<li><p>• Canva</p></li>
									</ul>
								</div>

								<div class=" w-max">
									<h4>Programmation / Webdesign</h4>
									<ul>
										<li><p>• HTML/CSS</p></li>
										<li><p>• Javascript/PHP</p></li>
										<li><p>• WordPress</p></li>
									</ul>
								</div>

								<div class=" w-max">
									<h4>Sauvetage / Secourisme</h4>
									<ul>
										<li><p>• BNSSA (2021) <span class=" text-red-800">À jour</span></p></li>
										<li><p>• PSE1 (2021) <span class=" text-red-800">À jour</span></p></li>
										<li><p>• PSE2 (2021) <span class=" text-red-800">À jour</span></p></li>
										<li><p>• CRR (27/01/2021)</p></li>
										<li><p>• Permis bateau fluvial (17/11/2021)</p></li>
										<li><p>• Permis bateau côtier (29/03/2022)</p></li>
										<li><p>• SSA Eaux Intérieurs (2022) <span class=" text-red-800">À jour</span></p></li>
										<li><p>• Formatrice PSE (2024) <span class=" text-red-800">À jour</span></p></li>
									</ul>
								</div>

							</div>
						</div>
						
					</div>
				</section>

				<!-- Illustration -->
				<div class=" pt-5 pb-10 container">
					<div class=" flex justify-center h-60"><img src="/img-illustration-mathilde-decoux-portfolio.png" alt=""></div>
				</div>

			</main>

			<Footer />

		</div>

	</body>

</html>