---
import BaseHead from '../components/BaseHead.astro';
import Navigation from '../components/Navigation.astro';
import FilAriane from '../components/FilAriane.astro';
import SocialMedia from '../components/SocialMedia.astro';
import BackToTop from '../components/BackToTop.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION, SITE_ABOUT } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<title>{SITE_ABOUT} - Mathilde Portfolio</title>
		<!-- Google tag (gtag.js) -->
		<script type="text/partytown" async src="https://www.googletagmanager.com/gtag/js?id=GTM-P3R88NLC"></script>
		<script type="text/partytown">
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'GTM-P3R88NLC');
		</script>

		<!-- JavaScript pour gérer l'ouverture/fermeture -->
		<script>
			document.addEventListener("DOMContentLoaded", () => {
				const toggleBtn = document.getElementById("toggleBtn");
				const missionList = document.getElementById("missionList");

				if (toggleBtn && missionList) {
				toggleBtn.addEventListener("click", () => {
					if (missionList.classList.contains("max-h-0")) {
					missionList.classList.remove("max-h-0", "opacity-0");
					missionList.classList.add("max-h-96", "opacity-100");
					toggleBtn.innerHTML = '<p class="text-sm text-white font-avenir font-bold">Masquer les missions</p>';
					} else {
					missionList.classList.remove("max-h-96", "opacity-100");
					missionList.classList.add("max-h-0", "opacity-0");
					toggleBtn.innerHTML = '<p class="text-sm text-white font-avenir font-bold">Mes missions</p>';
					}
				});
				} else {
					console.warn("toggleBtn or missionList not found in the DOM");
				}
			});
		</script>
		
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class=" bg-white-light">
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MLBJN7XG" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->

		<div class="flex flex-col min-h-dvh">

			<Navigation />

			<!-- Head -->
			<header class=" bg-gradient-head bg-center bg-cover">
					
				<!-- Container -->
				<div class="container">

					<!-- Head - Content -->
					<div class=" relative flex flex-col pt-52 pb-16">

						<div class=" z-10 flex flex-row justify-center pt-2 pb-2">
							<h2 class=" text-center uppercase text-6xl xl:text-7xl font-bold ">{SITE_ABOUT}</h2>
						</div>

						<FilAriane />

					</div>
				</div>
			</header>
			
			<main class="pb-20 grow flex flex-col gap-10 md:gap-20">
				
				<!-- About Me -->
				<section class=" m-4 sm:m-0 relative">
					<div class="container">

						<div class=" relative grid lg:grid-cols-3 p-10 md:mx-16 rounded-2xl bg-green-base">
							<div class=" col-span-2 flex flex-col gap-2">
								<h3 class=" font-avenir"><span class="font-gliker text-white text-5xl ">About Me</span></h3>
								<p class=" text-white text-sm">Passionnée par la communication et le design, j'ai acquis des compétences variées dans la création de contenus, la gestion de projets et le développement web. Polyvalente et créative, je m'investis dans des projets qui allient innovation et impact, en apportant des solutions adaptées aux besoins de chaque client. Mon objectif est de valoriser chaque projet grâce à une stratégie de communication efficace et des visuels percutants.</p>
							</div>
							<div class=" absolute invisible lg:visible bottom-8 right-14 h-72 xl:h-80">
								<img class=" object-cover h-full drop-shadow-xl" src="/img-profil-mathilde-decoux-portfolio.png" alt="">
							</div>
						</div>
					</div>
				</section>

				<!-- Telechargement -->
				<section class="m-4 sm:m-0">
					<div class=" container flex justify-center">
						<a class="rounded-md border-[1px] border-solid border-black px-4 py-1 hover:bg-yellow-light hover:text-white hover:border-yellow-light" href="DECOUXMathilde_CV.pdf" download="DECOUXMathilde_CV.pdf">Télécharger mon CV</a>
					</div>
				</section>

				<!-- CV -->
				<section class=" m-4 sm:m-0 ">
					<div class=" container flex flex-col gap-6 lg:gap-12">

						<h2 class=" text-center text-3xl uppercase font-avenir">Un Aperçu de <span class="font-gliker text-green-base normal-case text-4xl ">Mon Chemin</span></h2>

						<!-- Langues et centres d'interêts -->
						<div class=" relative flex flex-col lg:flex-row items-center gap-4 lg:gap-8 lg:px-24 ">

							<div class="lg:w-1/2 flex flex-col items-center gap-4 lg:gap-x-16 lg:gap-y-8 lg:pl-4">

								<div class=" flex flex-col gap-4 items-center">
									<h3 class=" font-avenir">Mes <span class="font-gliker text-blue-base text-3xl ">langues</span></h3>
									<ul class=" flex flex-row gap-2 ">
										<li><p class=" font-avenir text-md"><span class=" font-bold">Anglais</span> - A2</p></li>
										<li><p class=" font-avenir text-md"><span class=" font-bold">Espagnol</span> - C1</p></li>
									</ul>
								</div>

								<div class=" flex flex-col gap-4 items-center">
									<ul class=" px-6 flex flex-wrap gap-x-1 gap-y-1 justify-center">
										<li class=" px-3 pb-1 pt-2 bg-green-base max-w-max rounded-lg "><p class=" text-xs text-white uppercase font-avenir font-bold">Lecture</p></li>
										<li class=" px-3 pb-1 pt-2 bg-yellow-base max-w-max rounded-lg "><p class=" text-xs text-white uppercase font-avenir font-bold">Évenementiel</p></li>
										<li class=" px-3 pb-1 pt-2 bg-yellow-base max-w-max rounded-lg "><p class=" text-xs text-white uppercase font-avenir font-bold">Gestion Projet</p></li>
										<li class=" px-3 pb-1 pt-2 bg-green-base max-w-max rounded-lg "><p class=" text-xs text-white uppercase font-avenir font-bold">UI/UX</p></li>
										<li class=" px-3 pb-1 pt-2 bg-yellow-base max-w-max rounded-lg "><p class=" text-xs text-white uppercase font-avenir font-bold">Illustration</p></li>
										<li class=" px-3 pb-1 pt-2 bg-yellow-base max-w-max rounded-lg "><p class=" text-xs text-white uppercase font-avenir font-bold">Photographie</p></li>
										<li class=" px-3 pb-1 pt-2 bg-green-base max-w-max rounded-lg "><p class=" text-xs text-white uppercase font-avenir font-bold">Social Media</p></li>
										<li class=" px-3 pb-1 pt-2 bg-green-base max-w-max rounded-lg "><p class=" text-xs text-white uppercase font-avenir font-bold">Bénévolat</p></li>
										<li class=" px-3 pb-1 pt-2 bg-yellow-base max-w-max rounded-lg "><p class=" text-xs text-white uppercase font-avenir font-bold">Sauvetage Sportif</p></li>
										<li class=" px-3 pb-1 pt-2 bg-yellow-base max-w-max rounded-lg "><p class=" text-xs text-white uppercase font-avenir font-bold">Identité Visuelle</p></li>	
										<li class=" px-3 pb-1 pt-2 bg-green-base max-w-max rounded-lg "><p class=" text-xs text-white uppercase font-avenir font-bold">Webdesign</p></li>							
									</ul>
								</div>
								
								<div class=" flex flex-col gap-4 items-center">
									<h3 class=" font-avenir">Mes <span class="font-gliker text-blue-base text-3xl ">formations</span></h3>

									<div class=" flex flex-col items-center">
										<p class=" font-bold">2022 - <span class="italic">(En cours)</span></p>
										<p class=""><span class=" font-bold">IUT du Limousin</span> - Limoges (87)</p>
										<a class=" hover:underline" href="https://www.iut.unilim.fr/les-formations/but/metiers-du-multimedia-et-de-linternet/"><p class="">BUT MMI (Métiers du Multimédia et de l'Internet)</p></a>
									</div>

									<div class=" flex flex-col items-center">
										<p class=" font-bold">2021 - 2022</p>
										<p class=""><span class=" font-bold">Lycée Général Jean Giraudoux</span> - Châteauroux (36)</p>
										<a class=" hover:underline" href="https://www.education.gouv.fr/reussir-au-lycee/le-bachibac-double-delivrance-du-baccalaureat-francais-et-du-bachillerato-espagnol-7403"><p class="">Baccalauréat et Bachillerato (Bac Espagnol) </p></a>
									</div>
								</div>
							</div>

							<div class="lg:w-1/2 rounded-lg overflow-hidden grayscale">
								<img src="https://images.pexels.com/photos/7241413/pexels-photo-7241413.jpeg?auto=compress&cs=tinysrgb&w=800&lazy=load" alt="">
							</div>
							
						</div>

						<div class=" relative flex flex-col-reverse lg:flex-row items-center gap-4 lg:gap-8 lg:px-24 ">

							<div class="lg:w-1/2 rounded-lg overflow-hidden grayscale">
								<img src="https://images.pexels.com/photos/4065895/pexels-photo-4065895.jpeg?auto=compress&cs=tinysrgb&w=800&lazy=load" alt="">
							</div>

							<div class="lg:w-1/2 flex flex-col gap-4 lg:pr-4">
								<h3 class=" font-avenir">Mes <span class="font-gliker text-blue-base text-3xl ">expérience</span></h3>

								<ul class=" flex flex-col gap-4">
									<li>
										<h4 class=" font-gliker font-bold text-lg">Septembre 2024 / En cours <span class="font-mono">- Agence Com’Bawa</span></h4>
										<p class="font-avenir font-medium pb-2">Alternance en webdesign et graphisme</p>

										<button class="flex items-start toggle-btn px-2 py-1 bg-green-base rounded-md transition-colors duration-200 hover:bg-green-dark" id="toggle-btn"><p class="text-sm text-white font-avenir font-bold">Mes missions</p></button>
										
										<ul id="mission-list" class="mission-list pl-4 max-h-0 opacity-0 overflow-hidden transition-all duration-500 ease-in-out">
											<li><p class="font-avenir font-light">• Création et Gestion de site internet</p></li>
											<li><p class="font-avenir font-light">• Création visuel et Gestion de Réseaux Sociaux</p></li>
											<li><p class="font-avenir font-light">• Rendez-vous client</p></li>
										</ul>
									</li>

									<li>
										<h4 class=" font-gliker font-bold text-lg">Avril / Juin 2024 <span class=" font-mono">- Agence Com’Bawa</span></h4>
										<p class=" font-avenir font-medium pb-2">Stagiaire en webdesign et graphisme</p>
										
										<button class="flex items-start toggle-btn px-2 py-1 bg-green-base rounded-md transition-colors duration-200 hover:bg-green-dark" id="toggle-btn"><p class="text-sm text-white font-avenir font-bold">Mes missions</p></button>

										<ul id="mission-list" class="mission-list pl-4 max-h-0 opacity-0 overflow-hidden transition-all duration-500 ease-in-out">
											<li><p class=" font-avenir font-light">• Création visuels</p></li>
											<li><p class=" font-avenir font-light">• Création et Gestion de site internet</p></li>
											<li><p class=" font-avenir font-light">• Interview</p></li>
											<li><p class=" font-avenir font-light">• Rendez-vous client</p></li>
										</ul>
									</li>

									<li>
										<h4 class=" font-gliker font-bold text-lg">Depuis Décembre 2024 <span class=" font-mono">- Ligue Régionale Centre-Val de Loire de Sauvetage et de Secourisme</span></h4>
										<p class=" font-avenir font-medium pb-2">Responsable Communication (mission bénévole)</p>
										<button class="flex items-start toggle-btn px-2 py-1 bg-green-base rounded-md transition-colors duration-200 hover:bg-green-dark" id="toggle-btn"><p class="text-sm text-white font-avenir font-bold">Mes missions</p></button>
										<ul id="mission-list" class="mission-list pl-4 max-h-0 opacity-0 overflow-hidden transition-all duration-500 ease-in-out">
											<li><p class=" font-avenir font-light">• Création Pôle Communication</p></li>
											<li><p class=" font-avenir font-light">• Gestion réseaux sociaux</p></li>
											<li><p class=" font-avenir font-light">• Création de visuels</p></li>
											<li><p class=" font-avenir font-light">• Photographie</p></li>
										</ul>
									</li>

									<li>
										<h4 class=" font-gliker font-bold text-lg">Depuis Décembre 2024 <span class=" font-mono">- Fédération Française de Sauvetage et de Secourisme</span></h4>
										<p class=" font-avenir font-medium pb-2">Responsable Communication (mission bénévole)</p>
										<button class="flex items-start toggle-btn px-2 py-1 bg-green-base rounded-md transition-colors duration-200 hover:bg-green-dark" id="toggle-btn"><p class="text-sm text-white font-avenir font-bold">Mes missions</p></button>
										<ul id="mission-list" class="mission-list pl-4 max-h-0 opacity-0 overflow-hidden transition-all duration-500 ease-in-out">
											<li><p class=" font-avenir font-light">• Gestion réseaux sociaux national</p></li>
											<li><p class=" font-avenir font-light">• Création de visuels (affiches, flyer, vidéos, photos ...)</p></li>
											<li><p class=" font-avenir font-light">• Gestion d’évènement</p></li>
											<li><p class=" font-avenir font-light">• Photographie</p></li>
										</ul>
									</li>

									<li>
										<h4 class=" font-gliker font-bold text-lg">Depuis Décembre 2024 <span class=" font-mono">- Fédération Française de Sauvetage et de Secourisme</span></h4>
										<p class=" font-avenir font-medium pb-2">Graphiste et Photographe (mission bénévole)</p>
										<button class="flex items-start toggle-btn px-2 py-1 bg-green-base rounded-md transition-colors duration-200 hover:bg-green-dark" id="toggle-btn"><p class="text-sm text-white font-avenir font-bold">Mes missions</p></button>
										<ul id="mission-list" class="mission-list pl-4 max-h-0 opacity-0 overflow-hidden transition-all duration-500 ease-in-out">
											<li><p class=" font-avenir font-light">• Gestion réseaux sociaux national</p></li>
											<li><p class=" font-avenir font-light">• Création de visuels (affiches, flyer, vidéos, photos ...)</p></li>
											<li><p class=" font-avenir font-light">• Gestion d’évènement</p></li>
											<li><p class=" font-avenir font-light">• Photographie</p></li>
										</ul>
									</li>

									<li>
										<h4 class=" font-gliker font-bold text-lg">Depuis Janvier 2023 <span class=" font-mono">- Ekiden 36</span></h4>
										<p class=" font-avenir font-medium pb-2">Responsable Communication (mission bénévole)</p>
										<button class="flex items-start toggle-btn px-2 py-1 bg-green-base rounded-md transition-colors duration-200 hover:bg-green-dark" id="toggle-btn"><p class="text-sm text-white font-avenir font-bold">Mes missions</p></button>
										<ul id="mission-list" class="mission-list pl-4 max-h-0 opacity-0 overflow-hidden transition-all duration-500 ease-in-out">
											<li><p class=" font-avenir font-light">• Gestion réseaux sociaux</p></li>
											<li><p class=" font-avenir font-light">• Création de visuels (affiches, flyer, vidéos, photos ...)</p></li>
											<li><p class=" font-avenir font-light">• Photographie</p></li>
										</ul>
									</li>

									<li>
										<h4 class=" font-gliker font-bold text-lg">Depuis Octobre 2022 <span class=" font-mono">- Association des Sauveteurs Secouristes de Châteauroux</span></h4>
										<p class=" font-avenir font-medium pb-2">Responsable Communication (mission bénévole)</p>
										<button class="flex items-start toggle-btn px-2 py-1 bg-green-base rounded-md transition-colors duration-200 hover:bg-green-dark" id="toggle-btn"><p class="text-sm text-white font-avenir font-bold">Mes missions</p></button>
										<ul id="mission-list" class="mission-list pl-4 max-h-0 opacity-0 overflow-hidden transition-all duration-500 ease-in-out">
											<li><p class=" font-avenir font-light">• Gestion site web</p></li>
											<li><p class=" font-avenir font-light">• Gestion réseaux sociaux</p></li>
											<li><p class=" font-avenir font-light">• Création de visuels (affiches, flyer, vidéos, photos ...)</p></li>
											<li><p class=" font-avenir font-light">• Photographie</p></li>
											<li><p class=" font-avenir font-light">• Gestion d’évènement</p></li>
											<li><p class=" font-avenir font-light">• Forum</p></li>
											<li><p class=" font-avenir font-light">• Formation</p></li>
										</ul>
									</li>

									<li>
										<h4 class=" font-gliker font-bold text-lg">Juillet & Août 2024 <span class=" font-mono">- Piscine Municipale Levroux</span></h4>
										<p class=" font-avenir font-medium pb-2">Chef de bassin et Surveillante Sauveteuse</p>
									</li>

									<li>
										<h4 class=" font-gliker font-bold text-lg">Juillet 2022 <span class=" font-mono">- Baignade de Belle-Isle Châteauroux</span></h4>
										<p class=" font-avenir font-medium pb-2">Cheffe de Poste Adjointe</p>
									</li>

									<li>
										<h4 class=" font-gliker font-bold text-lg">Juillet 2021 <span class=" font-mono">- Baignade de Belle-Isle Châteauroux</span></h4>
										<p class=" font-avenir font-medium pb-2">Sauveteur Qualifié</p>
									</li>

								</ul>
							</div>

						</div>

						<!-- <div class=" relative flex flex-col items-center gap-8 lg:px-12 ">
							<h3 class=" font-avenir">Mes <span class="font-gliker text-green-base text-3xl ">compétences</span></h3>

							<div class=" flex flex-col md:flex-row justify-center md:flex-wrap gap-4 md:gap-8 w-full">

								<div class=" w-max">
									<h4 class=" font-gliker text-xl">Communication</h4>
									<ul>
										<li><p>• Gestion de prolet</p></li>
										<li><p>• Communication Interne et externe</p></li>
										<li><p>• Audit numérique</p></li>
										<li><p>• Réseaux sociaux (FB, Inta, Tiktok)</p></li>
										<li><p>• Création et gestion de sites web</p></li>
									</ul>
								</div>

								<div class=" w-max">
									<h4 class=" font-gliker text-xl">Graphisme</h4>
									<ul>
										<li><p>• Création graphique</p></li>
										<li><p>• Suite Adobe</p></li>
										<li><p>• LibreOffice</p></li>
										<li><p>• Figma</p></li>
										<li><p>• Canva</p></li>
									</ul>
								</div>

								<div class=" w-max">
									<h4 class=" font-gliker text-xl">Programmation / Webdesign</h4>
									<ul>
										<li><p>• HTML/CSS</p></li>
										<li><p>• Javascript/PHP</p></li>
										<li><p>• WordPress</p></li>
									</ul>
								</div>

								<div class=" w-max">
									<h4 class=" font-gliker text-xl">Sauvetage / Secourisme</h4>
									<ul>
										<li><p>• BNSSA (2021) <span class=" text-red-800">À jour</span></p></li>
										<li><p>• PSE1 (2021) <span class=" text-red-800">À jour</span></p></li>
										<li><p>• PSE2 (2021) <span class=" text-red-800">À jour</span></p></li>
										<li><p>• CRR (27/01/2021)</p></li>
										<li><p>• Permis bateau fluvial (17/11/2021)</p></li>
										<li><p>• Permis bateau côtier (29/03/2022)</p></li>
										<li><p>• SSA Eaux Intérieurs (2022) <span class=" text-red-800">À jour</span></p></li>
										<li><p>• Formatrice PSE (2024) <span class=" text-red-800">À jour</span></p></li>
									</ul>
								</div>

							</div>
						</div> -->
						
					</div>
				</section>

			</main>

			<SocialMedia />

			<BackToTop />
			
			<Footer />

		</div>

	</body>

</html>