---
import BaseHead from '../components/BaseHead.astro';
import Navigation from '../components/Navigation.astro';
import FilAriane from '../components/FilAriane.astro'
import Footer from '../components/Footer.astro';
import SocialMedia from '../components/SocialMedia.astro';
import { SITE_TITLE, SITE_DESCRIPTION, SITE_CONTACT } from '../consts';
---

<!DOCTYPE html>
<html>
	<head>
		<!-- Google tag (gtag.js) -->
		<script type="text/partytown" async src="https://www.googletagmanager.com/gtag/js?id=GTM-P3R88NLC"></script>
		<script type="text/partytown">
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'GTM-P3R88NLC');
		</script>

		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"></script>
		<script type="text/javascript">
			(function() {
				// https://dashboard.emailjs.com/admin/account
				emailjs.init({
					publicKey: "puj01nEzScO1cFcSE",
				});
			})();
		</script>

		<!-- Confirmation envoie Message -->
		<script type="text/javascript">
			window.onload = function () {
				document.getElementById('contact-form').addEventListener('submit', function (event) {
					event.preventDefault();

					// IDs du service, modèle, et formulaire
					emailjs.sendForm('service_ytzynnj', 'template_uubjaxu', this)
						.then(() => {
							// Affiche un message de succès
							const successMessage = document.createElement('div');
							successMessage.textContent = 'Votre message a bien été envoyé !';
							successMessage.className = 'mt-4 p-3 bg-green-dark text-white font-semibold rounded-lg';

							// Ajoute le message sous le formulaire
							const formContainer = document.getElementById('contact-form');
							formContainer.appendChild(successMessage);

							// Réinitialise le formulaire
							formContainer.reset();

							// Supprime le message après 5 secondes
							setTimeout(() => {
								successMessage.remove();
							}, 5000);
						}, (error) => {
							// Affiche un message d'erreur
							console.error('FAILED...', error);
							const errorMessage = document.createElement('div');
							errorMessage.textContent = 'Une erreur est survenue. Veuillez réessayer.';
							errorMessage.className = 'mt-4 p-3 bg-red-200 text-red-800 font-semibold rounded';

							// Ajoute le message sous le formulaire
							const formContainer = document.getElementById('contact-form');
							formContainer.appendChild(errorMessage);

							// Supprime le message après 5 secondes
							setTimeout(() => {
								errorMessage.remove();
						}, 5000);
					});
				});
			}
		</script>

		<!-- Changement Image -->
		<script>
			document.addEventListener("DOMContentLoaded", () => {
				const images = document.querySelectorAll(".slideshow-image");
				let index = 0;

				function showNextImage() {
					// Cacher toutes les images
					images.forEach(img => img.classList.add("opacity-0"));
					
					// Afficher l'image actuelle
					images[index].classList.remove("opacity-0");

					// Passer à l'image suivante
					index = (index + 1) % images.length;

					// Relancer après 5 secondes
					setTimeout(showNextImage, 5000);
				}

				// Démarrer le diaporama
				showNextImage();
			});
		</script>

		<!-- Nav -->
		<script>
			window.addEventListener('scroll', function() {
				const navbar = document.getElementById('navbar');
				const navContent = document.getElementById('nav-content');
				const portfolioTitle = document.getElementById('portfolio-title');
				const nameTitle = document.getElementById('name-title');

				// Vérifiez si les éléments existent avant d'appliquer des modifications
				if (navbar && navContent && portfolioTitle && nameTitle) {
					// Condition de scroll (changer le chiffre pour ajuster la vitesse du scroll)
					if (window.scrollY > 50) {
						navbar.classList.add('py-2', 'shadow-md');
						navbar.classList.remove('py-6');
						navContent.classList.remove('px-40');
						navContent.classList.add('px-20');

						portfolioTitle.classList.add('text-3xl');
						portfolioTitle.classList.remove('text-5xl');
						nameTitle.classList.add('text-xs');
						nameTitle.classList.remove('text-sm');
					} else {
						navbar.classList.remove('py-2', 'shadow-md');
						navbar.classList.add('py-6');
						navContent.classList.add('px-40');
						navContent.classList.remove('px-20');

						portfolioTitle.classList.remove('text-3xl');
						portfolioTitle.classList.add('text-5xl');
						nameTitle.classList.remove('text-xs');
						nameTitle.classList.add('text-sm');
					}
				}
			});
		</script>

		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="bg-fond-social-media bg-cover bg-fixed bg-center">

		<Navigation />

		<!-- Head -->
		<header class=" bg-gradient-head bg-center bg-cover">
				
			<!-- Container -->
			<div class="container">

				<!-- Head - Content -->
				<div class=" relative flex flex-col pt-52 pb-16">

					<div class=" z-10 flex flex-row justify-center pt-2 pb-2">
						<h2 class=" text-center uppercase text-6xl xl:text-7xl font-bold ">{SITE_CONTACT}</h2>
					</div>

					<FilAriane />

				</div>
			</div>
		</header>

		<section>
			<div class="container">
				<div class=" pb-16 md:px-4 lg:px-12 flex flex-col gap-4 xl:flex-row">

					<div class=" xl:w-1/2 flex flex-col gap-4">
						<div class=" p-10 flex flex-col gap-4 w-full bg-white rounded-2xl shadow-md ">
							<h2 class=" text-green-base">Coordonnées</h2>
							<ul class=" pl-4">
								<li class=" flex flex-row gap-2 items-center"><img class=" w-5 h-full" src="/icon-telephone-portfolio-jaune.png" alt="Icon téléphone">06.31.80.17.12</li>
								<li class=" flex flex-row gap-2 items-center"><img class=" w-5 h-full" src="/icon-mail-portfolio-jaune.png" alt="Icon mail">mathildedecoux.communication@gmail.com</li>
								<li class=" flex flex-row gap-2 items-center"><img class=" w-5 h-full" src="/icon-localisation-portfolio-jaune.png" alt="Icon lieux">Châteauroux</li>
							</ul>
						</div>

						<div class="relative h-[500px] xl:w-full xl:h-full flex justify-center items-center bg-white rounded-2xl shadow-md overflow-hidden">
							<img class="slideshow-image absolute opacity-0 h-full w-full object-cover object-center transition-opacity duration-1000 ease-in-out" 
								src="/img-championnats-de-france-depart-mathilde-decoux-portfolio.jpg" 
								alt="Départ Course au Championnat de France Sauvetage Sportif Short Course à Châteauroux en décembre 2024">
							
							<img class="slideshow-image absolute opacity-0 h-full w-full object-cover object-center transition-opacity duration-1000 ease-in-out" 
								src="/img-championnats-de-france-bouee-tube-mathilde-decoux-portfolio.jpg" 
								alt="Clipsage de la bouée tube au Course au Championnat de France Sauvetage Sportif Short Course à Châteauroux en décembre 2024">
							
							<img class="slideshow-image absolute opacity-0 h-full w-full object-cover object-center transition-opacity duration-1000 ease-in-out" 
								src="/img-championnats-de-france-sortie-eau-mathilde-decoux-portfolio.jpg" 
								alt="Sortie d'eau de Savéria Seguin au Course au Championnat de France Sauvetage Sportif Short Course à Châteauroux en décembre 2024">
							
							<img class="slideshow-image absolute opacity-0 h-full w-full object-cover object-center transition-opacity duration-1000 ease-in-out" 
								src="/img-championnats-de-france-ines-mannequin-mathilde-decoux-portfolio.jpg" 
								alt="Sortie de Ines de Poitiers après le 25m Mannequin au Course au Championnat de France Sauvetage Sportif Short Course à Châteauroux en décembre 2024">
						</div>
					</div>

					<div class=" relative p-10 flex flex-col xl:w-1/2 gap-4 bg-white rounded-2xl shadow-md ">

						<h2 class=" text-green-base">Me contacter</h2>

						<p>Dites-moi tout ! Nom, prénom, e-mail, téléphone et bien-sûr votre message et je m'occuperais de vous recontacter !</p>

						<form id="contact-form" class="">
							<!-- Champ caché pour éviter les soumissions automatisées -->
							<input type="hidden" name="contact_number" value="697483">
							
							<!-- Nom -->
							<div class="mb-4">
								<label for="user_name" class="block font-avenir text-lg font-semibold text-gray-700">NOM / Prénom</label>
								<input 
									type="text" 
									name="user_name" 
									id="user_name" 
									required 
									class="w-full p-3 mt-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
									placeholder="Votre nom / prénom"
								>
							</div>
							
							<!-- Email -->
							<div class="mb-4">
								<label for="user_email" class="block font-avenir text-lg font-semibold text-gray-700">Mail</label>
								<input 
									type="email" 
									name="user_email" 
									id="user_email" 
									required 
									class="w-full p-3 mt-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
									placeholder="Votre Mail"
								>
							</div>
	
							<!-- Phono -->
							<div class="mb-4">
								<label for="user_phone" class="block font-avenir text-lg font-semibold text-gray-700">Téléphone</label>
								<input 
									type="tel" 
									name="user_phone" 
									id="user_phone" 
									required 
									class="w-full p-3 mt-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
									placeholder="Votre numéro de Téléphone"
								>
							</div>
							
							<!-- Message -->
							<div class="mb-4">
								<label for="message" class="block font-avenir text-lg font-semibold text-gray-700">Message</label>
								<textarea 
									name="message" 
									id="message" 
									required 
									rows="6" 
									class="w-full p-3 mt-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
									placeholder="Votre Message"
								></textarea>
							</div>

							<p>Merci et à très vite !</p>
							
							<!-- Bouton Envoyer -->
							<div class="mt-6">
								<input 
									type="submit" 
									value="Envoyer" 
									class="flex float-end px-6 py-3 bg-green-base text-white font-semibold rounded-lg transition-colors hover:bg-green-dark"
								>
							</div>

							<div class=" absolute w-28 -bottom-[30px] -right-[30px] rotate-[148deg]">
								<img class=" animate-bounce" src="./element/element-portfolio-mathilde-decoux-fleche-green-dark-3.svg" alt="">
							</div>
						</form>

					</div>
				
				</div>

			</div>
		</section>

		<SocialMedia />
		
		<Footer />
	</body>
</html>