---
import BaseHead from '../components/BaseHead.astro';
import Navigation from '../components/Navigation.astro';
import TopNav from '../components/Top-nav.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION, SITE_CONTACT } from '../consts';
---

<!DOCTYPE html>
<html>
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"></script>
		<script type="text/javascript">
			(function() {
				// https://dashboard.emailjs.com/admin/account
				emailjs.init({
					publicKey: "puj01nEzScO1cFcSE",
				});
			})();
		</script>
		<script type="text/javascript">
			window.onload = function() {
				document.getElementById('contact-form').addEventListener('submit', function(event) {
					event.preventDefault();
					// these IDs from the previous steps
					emailjs.sendForm('service_ytzynnj', 'template_uubjaxu', this)
						.then(() => {
							console.log('SUCCESS!');
						}, (error) => {
							console.log('FAILED...', error);
						});
				});
			}
		</script>
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-02YWGHZX1H"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'G-02YWGHZX1H');
		</script>
	</head>
	<body>
		<TopNav />

		<!-- Head -->
		<header class=" bg-gradient-head bg-center bg-cover">
				
			<Navigation />

			<!-- Container -->
			<div class="container">

				<!-- Head - Content -->
				<div class=" relative flex flex-col pt-16 pb-16">

					<div class=" z-10 flex flex-row justify-center pt-4 pb-4">
						<h1 class=" text-center uppercase text-6xl xl:text-7xl font-bold ">{SITE_CONTACT}</h1>
					</div>

				</div>
			</div>

		</header>

		<section>
			<div class="container">
				<div class="px-12 pb-10 flex flex-col lg:flex-row gap-4 justify-between">
				
					<form id="contact-form" class=" p-6 bg-white rounded-lg shadow-md w-full lg:w-3/4 flex flex-col justify-between ">
						<!-- Champ caché pour éviter les soumissions automatisées -->
						<input type="hidden" name="contact_number" value="697483">
						
						<!-- Nom -->
						<div class="mb-4">
							<label for="user_name" class="block text-lg font-semibold text-gray-700">NOM / Prénom</label>
							<input 
								type="text" 
								name="user_name" 
								id="user_name" 
								required 
								class="w-full p-3 mt-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
								placeholder="Votre nom / prénom"
							>
						</div>
						
						<!-- Email -->
						<div class="mb-4">
							<label for="user_email" class="block text-lg font-semibold text-gray-700">Mail</label>
							<input 
								type="email" 
								name="user_email" 
								id="user_email" 
								required 
								class="w-full p-3 mt-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
								placeholder="Votre Mail"
							>
						</div>
						
						<!-- Message -->
						<div class="mb-4">
							<label for="message" class="block text-lg font-semibold text-gray-700">Message</label>
							<textarea 
								name="message" 
								id="message" 
								required 
								rows="6" 
								class="w-full p-3 mt-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
								placeholder="Votre Message"
							></textarea>
						</div>
						
						<!-- Bouton Envoyer -->
						<div class="mt-6">
							<input 
								type="submit" 
								value="Send" 
								class="w-full p-3 bg-green-light-800 text-white font-semibold rounded-lg hover:bg-yellow-light transition-colors"
							>
						</div>
					</form>

					<div class=" flex flex-col gap-4 w-full lg:w-1/4">

						<div class=" p-6 flex flex-col gap-2 bg-white rounded-lg shadow-md max-h-full">
							<h2 class=" uppercase font-bold">Me Suivre :</h2>
							<p>Vous pouvez également suivre mes travaux, découvrir mes projets, et me contacter facilement via les réseaux sociaux. N’hésitez pas à m’envoyer un message, je serai ravie d’échanger avec vous !</p>
						</div>

						<ul class=" p-6 px-10 flex flex-row items-cente justify-between gap-3 bg-white rounded-lg shadow-md max-h-full">
				
							<!-- Instagram --> 
							<li><a href="https://www.instagram.com/lestudiodemathilde/"> 
								<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0 0 50 50">
									<path d="M 16 3 C 8.8324839 3 3 8.8324839 3 16 L 3 34 C 3 41.167516 8.8324839 47 16 47 L 34 47 C 41.167516 47 47 41.167516 47 34 L 47 16 C 47 8.8324839 41.167516 3 34 3 L 16 3 z M 16 5 L 34 5 C 40.086484 5 45 9.9135161 45 16 L 45 34 C 45 40.086484 40.086484 45 34 45 L 16 45 C 9.9135161 45 5 40.086484 5 34 L 5 16 C 5 9.9135161 9.9135161 5 16 5 z M 37 11 A 2 2 0 0 0 35 13 A 2 2 0 0 0 37 15 A 2 2 0 0 0 39 13 A 2 2 0 0 0 37 11 z M 25 14 C 18.936712 14 14 18.936712 14 25 C 14 31.063288 18.936712 36 25 36 C 31.063288 36 36 31.063288 36 25 C 36 18.936712 31.063288 14 25 14 z M 25 16 C 29.982407 16 34 20.017593 34 25 C 34 29.982407 29.982407 34 25 34 C 20.017593 34 16 29.982407 16 25 C 16 20.017593 20.017593 16 25 16 z"></path>
								</svg>
							</a></li>
							<!-- Facebook -->
							<li><a href="https://www.facebook.com/profile.php?id=61566997851615&locale=fr_FR">
								<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0 0 50 50">
									<path d="M 25 3 C 12.861562 3 3 12.861562 3 25 C 3 36.019135 11.127533 45.138355 21.712891 46.728516 L 22.861328 46.902344 L 22.861328 29.566406 L 17.664062 29.566406 L 17.664062 26.046875 L 22.861328 26.046875 L 22.861328 21.373047 C 22.861328 18.494965 23.551973 16.599417 24.695312 15.410156 C 25.838652 14.220896 27.528004 13.621094 29.878906 13.621094 C 31.758714 13.621094 32.490022 13.734993 33.185547 13.820312 L 33.185547 16.701172 L 30.738281 16.701172 C 29.349697 16.701172 28.210449 17.475903 27.619141 18.507812 C 27.027832 19.539724 26.84375 20.771816 26.84375 22.027344 L 26.84375 26.044922 L 32.966797 26.044922 L 32.421875 29.564453 L 26.84375 29.564453 L 26.84375 46.929688 L 27.978516 46.775391 C 38.71434 45.319366 47 36.126845 47 25 C 47 12.861562 37.138438 3 25 3 z M 25 5 C 36.057562 5 45 13.942438 45 25 C 45 34.729791 38.035799 42.731796 28.84375 44.533203 L 28.84375 31.564453 L 34.136719 31.564453 L 35.298828 24.044922 L 28.84375 24.044922 L 28.84375 22.027344 C 28.84375 20.989871 29.033574 20.060293 29.353516 19.501953 C 29.673457 18.943614 29.981865 18.701172 30.738281 18.701172 L 35.185547 18.701172 L 35.185547 12.009766 L 34.318359 11.892578 C 33.718567 11.811418 32.349197 11.621094 29.878906 11.621094 C 27.175808 11.621094 24.855567 12.357448 23.253906 14.023438 C 21.652246 15.689426 20.861328 18.170128 20.861328 21.373047 L 20.861328 24.046875 L 15.664062 24.046875 L 15.664062 31.566406 L 20.861328 31.566406 L 20.861328 44.470703 C 11.816995 42.554813 5 34.624447 5 25 C 5 13.942438 13.942438 5 25 5 z"></path>
								</svg>
							</a></li>
							<!-- Linkedin -->
							<li><a href="https://www.linkedin.com/in/mathilde-decoux-b8792b258/">
								<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0 0 50 50">
									<path d="M 9 4 C 6.2504839 4 4 6.2504839 4 9 L 4 41 C 4 43.749516 6.2504839 46 9 46 L 41 46 C 43.749516 46 46 43.749516 46 41 L 46 9 C 46 6.2504839 43.749516 4 41 4 L 9 4 z M 9 6 L 41 6 C 42.668484 6 44 7.3315161 44 9 L 44 41 C 44 42.668484 42.668484 44 41 44 L 9 44 C 7.3315161 44 6 42.668484 6 41 L 6 9 C 6 7.3315161 7.3315161 6 9 6 z M 14 11.011719 C 12.904779 11.011719 11.919219 11.339079 11.189453 11.953125 C 10.459687 12.567171 10.011719 13.484511 10.011719 14.466797 C 10.011719 16.333977 11.631285 17.789609 13.691406 17.933594 A 0.98809878 0.98809878 0 0 0 13.695312 17.935547 A 0.98809878 0.98809878 0 0 0 14 17.988281 C 16.27301 17.988281 17.988281 16.396083 17.988281 14.466797 A 0.98809878 0.98809878 0 0 0 17.986328 14.414062 C 17.884577 12.513831 16.190443 11.011719 14 11.011719 z M 14 12.988281 C 15.392231 12.988281 15.94197 13.610038 16.001953 14.492188 C 15.989803 15.348434 15.460091 16.011719 14 16.011719 C 12.614594 16.011719 11.988281 15.302225 11.988281 14.466797 C 11.988281 14.049083 12.140703 13.734298 12.460938 13.464844 C 12.78117 13.19539 13.295221 12.988281 14 12.988281 z M 11 19 A 1.0001 1.0001 0 0 0 10 20 L 10 39 A 1.0001 1.0001 0 0 0 11 40 L 17 40 A 1.0001 1.0001 0 0 0 18 39 L 18 33.134766 L 18 20 A 1.0001 1.0001 0 0 0 17 19 L 11 19 z M 20 19 A 1.0001 1.0001 0 0 0 19 20 L 19 39 A 1.0001 1.0001 0 0 0 20 40 L 26 40 A 1.0001 1.0001 0 0 0 27 39 L 27 29 C 27 28.170333 27.226394 27.345035 27.625 26.804688 C 28.023606 26.264339 28.526466 25.940057 29.482422 25.957031 C 30.468166 25.973981 30.989999 26.311669 31.384766 26.841797 C 31.779532 27.371924 32 28.166667 32 29 L 32 39 A 1.0001 1.0001 0 0 0 33 40 L 39 40 A 1.0001 1.0001 0 0 0 40 39 L 40 28.261719 C 40 25.300181 39.122788 22.95433 37.619141 21.367188 C 36.115493 19.780044 34.024172 19 31.8125 19 C 29.710483 19 28.110853 19.704889 27 20.423828 L 27 20 A 1.0001 1.0001 0 0 0 26 19 L 20 19 z M 12 21 L 16 21 L 16 33.134766 L 16 38 L 12 38 L 12 21 z M 21 21 L 25 21 L 25 22.560547 A 1.0001 1.0001 0 0 0 26.798828 23.162109 C 26.798828 23.162109 28.369194 21 31.8125 21 C 33.565828 21 35.069366 21.582581 36.167969 22.742188 C 37.266572 23.901794 38 25.688257 38 28.261719 L 38 38 L 34 38 L 34 29 C 34 27.833333 33.720468 26.627107 32.990234 25.646484 C 32.260001 24.665862 31.031834 23.983076 29.517578 23.957031 C 27.995534 23.930001 26.747519 24.626988 26.015625 25.619141 C 25.283731 26.611293 25 27.829667 25 29 L 25 38 L 21 38 L 21 21 z"></path>
								</svg>
							</a></li> 
							<!-- Behance -->
							<li><a href="https://www.behance.net/mathildedecoux">
								<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0 0 50 50">
									<path d="M 9 4 C 6.2504839 4 4 6.2504839 4 9 L 4 41 C 4 43.749516 6.2504839 46 9 46 L 41 46 C 43.749516 46 46 43.749516 46 41 L 46 9 C 46 6.2504839 43.749516 4 41 4 L 9 4 z M 9 6 L 41 6 C 42.668484 6 44 7.3315161 44 9 L 44 41 C 44 42.668484 42.668484 44 41 44 L 9 44 C 7.3315161 44 6 42.668484 6 41 L 6 9 C 6 7.3315161 7.3315161 6 9 6 z M 11 16 A 1.0001 1.0001 0 0 0 10 17 L 10 33.001953 A 1.0001 1.0001 0 0 0 11 34.001953 L 18.609375 34.001953 A 1.0001 1.0001 0 0 0 18.611328 34.001953 C 19.023753 34.001303 20.47042 33.966143 21.966797 33.263672 C 23.463126 32.561204 25 30.981352 25 28.427734 C 25 26.807744 24.469468 25.587871 23.757812 24.785156 C 23.459976 24.44921 23.181728 24.411563 22.867188 24.205078 C 23.468962 23.501116 24 22.548391 24 21 C 24 18.617325 22.694971 17.138602 21.353516 16.537109 C 20.01206 15.935617 18.632571 16 18.292969 16 L 11 16 z M 30 16 A 1.0001 1.0001 0 1 0 30 18 L 36 18 A 1.0001 1.0001 0 1 0 36 16 L 30 16 z M 12 18 L 18.292969 18 C 18.745366 18 19.721112 17.9963 20.535156 18.361328 C 21.3492 18.726336 22 19.248675 22 21 C 22 22.875889 21.277102 23.235863 20.847656 23.457031 A 1.0001 1.0001 0 0 0 20.980469 25.291016 C 21.358602 25.420639 21.863623 25.662293 22.261719 26.111328 C 22.659815 26.560363 23 27.218725 23 28.427734 C 23 30.258116 22.15731 30.964843 21.117188 31.453125 C 20.077064 31.941407 18.83095 32.001604 18.609375 32.001953 L 12 32.001953 L 12 18 z M 33 19 C 32.087626 19 30.417415 19.181258 28.863281 20.248047 C 27.309148 21.314836 26 23.339397 26 26.5 C 26 29.443402 27.208842 31.444154 28.728516 32.568359 C 30.24819 33.692564 31.970682 34 33.169922 34 C 35.709068 34 37.504491 33.136946 38.580078 31.910156 C 39.573509 30.777073 39.90237 29.440307 39.953125 28.296875 A 1.0001 1.0001 0 0 0 40 28.035156 C 40.000308 28.026556 39.997747 28.016453 39.998047 28.007812 C 39.998097 28.005366 40 28.002441 40 28 A 1.0001 1.0001 0 0 0 39.994141 27.900391 A 1.0001 1.0001 0 0 0 39.994141 27.896484 C 40.048589 26.089131 39.90858 24.000335 38.943359 22.212891 C 37.954617 20.381886 35.96657 19 33 19 z M 15 20 L 15 23 L 17.619141 23 C 17.976141 23 19.166016 22.774547 19.166016 21.435547 C 19.166016 20.095547 17.617859 20 17.380859 20 L 15 20 z M 33 21 C 35.40843 21 36.482883 21.868114 37.181641 23.162109 C 37.747639 24.210254 37.919716 25.618337 37.953125 27 L 35 27 L 31 27 A 1.0001 1.0001 0 0 0 30 28 C 30 28 30.008601 28.252415 30.082031 28.472656 C 30.155441 28.692897 30.300118 28.96418 30.542969 29.207031 C 31.028672 29.692734 31.833333 30 33 30 C 34.166667 30 34.971329 29.692734 35.457031 29.207031 C 35.525631 29.138431 35.534421 29.071375 35.587891 29 L 37.841797 29 C 37.708618 29.554752 37.494684 30.112499 37.076172 30.589844 C 36.398259 31.363054 35.278776 32 33.169922 32 C 32.341162 32 30.975795 31.743483 29.917969 30.960938 C 28.860143 30.178392 28 28.929598 28 26.5 C 28 23.853603 28.930477 22.627945 29.996094 21.896484 C 31.06171 21.165024 32.391374 21 33 21 z M 33.085938 22.601562 C 32.494937 22.601562 32.070422 22.677031 31.732422 22.832031 C 31.394422 22.986031 31.142672 23.219172 30.888672 23.451172 C 30.719672 23.683172 30.549844 23.916563 30.464844 24.226562 C 30.379844 24.458562 30.295875 24.690953 30.296875 25.001953 L 35.705078 25.001953 C 35.620078 24.226953 35.366359 23.607703 34.943359 23.220703 C 34.521359 22.833703 33.930937 22.601562 33.085938 22.601562 z M 15.033203 26 L 15.033203 29.980469 L 17.962891 29.980469 C 18.216891 29.980469 20 29.882453 20 28.064453 C 20 26.244453 18.598891 26 17.962891 26 L 15.033203 26 z"></path>
								</svg>
							</a></li> 
						</ul>

						<div class=" -top-4 relative min-h-full hidden lg:visible">
							<img src="/img-profil-mathilde-decoux-portfolio.png" alt="">
						</div>
					</div>

				</div>
			</div>
		</section>
		

		<Footer />
	</body>
	</html>