---
import BaseHead from '../components/BaseHead.astro';
import Navigation from '../components/Navigation.astro';
import TopNav from '../components/Top-nav.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION, SITE_CONTACT } from '../consts';
---

<!DOCTYPE html>
<html>
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"></script>
		<script type="text/javascript">
			(function() {
				// https://dashboard.emailjs.com/admin/account
				emailjs.init({
					publicKey: "puj01nEzScO1cFcSE",
				});
			})();
		</script>
		<script type="text/javascript">
			window.onload = function() {
				document.getElementById('contact-form').addEventListener('submit', function(event) {
					event.preventDefault();
					// these IDs from the previous steps
					emailjs.sendForm('service_ytzynnj', 'template_uubjaxu', this)
						.then(() => {
							console.log('SUCCESS!');
						}, (error) => {
							console.log('FAILED...', error);
						});
				});
			}
		</script>
	</head>
	<body>
		<TopNav />

		<!-- Head -->
		<header class=" bg-gradient-head bg-center bg-cover">
				
			<Navigation />

			<!-- Container -->
			<div class="container">

				<!-- Head - Content -->
				<div class=" relative flex flex-col pt-16 pb-16">

					<div class=" z-10 flex flex-row justify-center pt-4 pb-4">
						<h1 class=" text-center uppercase text-6xl xl:text-7xl font-bold ">{SITE_CONTACT}</h1>
					</div>

				</div>
			</div>

		</header>

		<form id="contact-form" class="max-w-xl mx-auto p-6 bg-white shadow-lg rounded-lg">
			<!-- Champ caché pour éviter les soumissions automatisées -->
			<input type="hidden" name="contact_number" value="697483">
			
			<!-- Nom -->
			<div class="mb-4">
				<label for="user_name" class="block text-lg font-semibold text-gray-700">Name</label>
				<input 
					type="text" 
					name="user_name" 
					id="user_name" 
					required 
					class="w-full p-3 mt-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
					placeholder="Your Name"
				>
			</div>
			
			<!-- Email -->
			<div class="mb-4">
				<label for="user_email" class="block text-lg font-semibold text-gray-700">Email</label>
				<input 
					type="email" 
					name="user_email" 
					id="user_email" 
					required 
					class="w-full p-3 mt-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
					placeholder="Your Email"
				>
			</div>
			
			<!-- Message -->
			<div class="mb-4">
				<label for="message" class="block text-lg font-semibold text-gray-700">Message</label>
				<textarea 
					name="message" 
					id="message" 
					required 
					rows="6" 
					class="w-full p-3 mt-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
					placeholder="Your Message"
				></textarea>
			</div>
			
			<!-- Bouton Envoyer -->
			<div class="mt-6">
				<input 
					type="submit" 
					value="Send" 
					class="w-full p-3 bg-green-light-800 text-white font-semibold rounded-lg hover:bg-yellow-light transition-colors"
				>
			</div>
		</form>

		<Footer />
	</body>
	</html>