---
import BaseHead from '../components/BaseHead.astro';
import Navigation from '../components/Navigation.astro';
import TopNav from '../components/Top-nav.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION, SITE_CONTACT } from '../consts';
---

<!DOCTYPE html>
<html>
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"></script>
		<script type="text/javascript">
			(function() {
				// https://dashboard.emailjs.com/admin/account
				emailjs.init({
					publicKey: "puj01nEzScO1cFcSE",
				});
			})();
		</script>
		<script type="text/javascript">
			window.onload = function() {
				document.getElementById('contact-form').addEventListener('submit', function(event) {
					event.preventDefault();
					// these IDs from the previous steps
					emailjs.sendForm('service_ytzynnj', 'template_uubjaxu', this)
						.then(() => {
							console.log('SUCCESS!');
						}, (error) => {
							console.log('FAILED...', error);
						});
				});
			}
		</script>
	</head>
	<body>
		<TopNav />

		<!-- Head -->
		<header class=" bg-gradient-head-green-light bg-center bg-cover">
			
			<Navigation />

			<!-- Container -->
			<div class="container">

				<!-- Head - Content -->
				<div class=" relative flex flex-col pt-16 pb-16">

					<div class=" z-10 flex flex-row justify-center pt-4 pb-4">
						<h2 class=" text-center uppercase text-6xl xl:text-7xl font-bold ">{SITE_CONTACT}</h2>
					</div>

				</div>
			</div>

		</header>
		<form id="contact-form">
			<!-- Champ caché pour éviter les soumissions automatisées -->
			<input type="hidden" name="contact_number" value="697483">
			
			<label for="user_name">Name</label>
			<input type="text" name="user_name" id="user_name" required>
			
			<label for="user_email">Email</label>
			<input type="email" name="user_email" id="user_email" required>
			
			<label for="message">Message</label>
			<textarea name="message" id="message" required></textarea>
			
			<input type="submit" value="Send">
		</form>

		<Footer />
	</body>
	</html>