---
import BaseHead from '../components/BaseHead.astro';
import Navigation from '../components/Navigation.astro';
import FilAriane from '../components/FilAriane.astro';
import SocialMedia from '../components/SocialMedia.astro';
import BackToTop from '../components/BackToTop.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION, SITE_ABOUT } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<title>{SITE_ABOUT} - Mathilde Portfolio</title>
		<!-- Google tag (gtag.js) -->
		<script type="text/partytown" async src="https://www.googletagmanager.com/gtag/js?id=GTM-P3R88NLC"></script>
		<script type="text/partytown">
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'GTM-P3R88NLC');
		</script>

		<!-- JavaScript pour gérer l'ouverture/fermeture -->
		<script>
			document.addEventListener("DOMContentLoaded", () => {
				const toggleBtn = document.getElementById("toggleBtn");
				const missionList = document.getElementById("missionList");

				if (toggleBtn && missionList) {
				toggleBtn.addEventListener("click", () => {
					if (missionList.classList.contains("max-h-0")) {
					missionList.classList.remove("max-h-0", "opacity-0");
					missionList.classList.add("max-h-96", "opacity-100");
					toggleBtn.innerHTML = '<p class="text-sm text-white font-avenir font-bold">Masquer les missions</p>';
					} else {
					missionList.classList.remove("max-h-96", "opacity-100");
					missionList.classList.add("max-h-0", "opacity-0");
					toggleBtn.innerHTML = '<p class="text-sm text-white font-avenir font-bold">Mes missions</p>';
					}
				});
				} else {
					console.warn("toggleBtn or missionList not found in the DOM");
				}
			});
		</script>
		
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class=" bg-white-light">
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MLBJN7XG" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->

		<div class="flex flex-col min-h-dvh">

			<Navigation />
			
			<main class="pb-20 grow flex flex-col gap-10 md:gap-20">
				

			</main>

			<SocialMedia />

			<BackToTop />
			
			<Footer />

		</div>

	</body>

</html>