---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import TopNav from '../components/Top-nav.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class=" bg-white-light">

		<TopNav />
		<Header />
		
		<main>
			
			<!-- Tag -->
			<div class="container">
				<ul class=" flex flex-row gap-1 justify-end pb-4">
					<li class=" px-4 py-1 max-w-max rounded-lg bg-[#D9A324] hover:bg-[#B5881E] text-white">#Graphisme</li>
					<li class=" px-4 py-1 max-w-max rounded-lg bg-[#D9A324] hover:bg-[#B5881E] text-white">#Photographie</li>
					<li class=" px-4 py-1 max-w-max rounded-lg bg-[#D9A324] hover:bg-[#B5881E] text-white">#Réseaux Sociaux</li>
					<li class=" px-4 py-1 max-w-max rounded-lg bg-[#D9A324] hover:bg-[#B5881E] text-white">#Webdesign</li>
					<li class=" px-4 py-1 max-w-max rounded-lg bg-[#D9A324] hover:bg-[#B5881E] text-white">#Montage</li>
				</ul>
			</div>

			<!-- Mes Projets -->
			<div class="container">
				<div>
					<div><h2>Mes projets</h2></div>
					<ul class=" px-6 flex flex-row justify-between">
						<li>Card</li>
						<li>Card</li>
						<li>Card</li>
					</ul>
				</div>
			</div>

		</main>

		<Footer />

	</body>

</html>