---
const today = new Date();
---

<footer>
	<div class="container">
		<div class=" flex justify-center bg-[#007368] rounded-t-3xl p-6 text-white">&copy;Decoux Mathilde Portfolio - Tous droits réservés - {today.getFullYear()}</div>
	</div>
</footer>
