---
// Container mr-2 ml-2 sm:mr-8 sm:ml-8 md:mr-16 md:ml-mr-16 lg:mr-32 lg:ml-32
---

<!-- Nav -->
<nav class=" m-4 sm:m-0 pt-6">

    <!-- Container -->
    <div class="container">

        <!-- Nav - Content -->
        <div class=" flex flex-col md:flex-row items-center justify-between gap-4 py-4 px-6">
            <!-- <a href="/"><img class=" h-12" src="/favicon.svg" alt=""></a> -->

            <ul class=" flex flex-row gap-4">
                <li class=" relative py-1 px-4 text-black">
                    <a class=" 
                        hover:before:content 
                        hover:before:absolute 
                        hover:before:w-1/2 
                        hover:before:h-[14px] 
                        hover:before:right-[5px] 
                        hover:before:bottom-[8px] 
                        hover:before:bg-yellow-base
                        hover:before:-z-10
                        hover:before:animate-pulse
                    " href="/blog">Mes Projets</a>
                </li>
                <li class=" relative py-1 px-4 text-black">
                    <a class=" 
                        hover:before:content 
                        hover:before:absolute 
                        hover:before:w-1/2 
                        hover:before:h-[14px] 
                        hover:before:right-[5px] 
                        hover:before:bottom-[8px] 
                        hover:before:bg-yellow-base 
                        hover:before:-z-10
                        hover:before:animate-pulse
                    " href="/about">À Propos</a>
                </li>
                <li class=" relative py-1 px-4 text-black">
                    <a class=" 
                        hover:before:content 
                        hover:before:absolute 
                        hover:before:w-1/2 
                        hover:before:h-[14px] 
                        hover:before:right-[5px] 
                        hover:before:bottom-[8px] 
                        hover:before:bg-yellow-base
                        hover:before:-z-10
                        hover:before:animate-pulse
                    " href="/contact">Contact</a>
                </li>
            </ul>
            
        </div>
    </div>
</nav>