---
import { SITE_TITLE } from '../consts';
import { IMG_SITE } from '../consts';
---

<!-- Nav -->
<nav class=" pt-1">

    <!-- Container -->
    <div class=" mr-2 ml-2 sm:mr-8 sm:ml-8 md:mr-16 md:ml-mr-16 lg:mr-32 lg:ml-32">

        <!-- Nav - Content -->
        <div class=" flex flex-row items-center justify-between gap-4 p-6 bg-white shadow-md rounded-t-2xl rounded-bl-2xl">
            <img class=" h-12" src="./favicon.svg" alt="">

            <ul class=" flex flex-row gap-4">
                <li class=" p-3 rounded-lg hover:bg-[#D9A324] hover:text-white"><a href="/blog">Blog</a></li>
                <li class=" p-3 rounded-lg hover:bg-[#D9A324] hover:text-white"><a href="/about">About Me</a></li>
                <li class=" p-3 rounded-lg bg-[#007368] hover:bg-[#006057] text-white"><a href="/contact">Contact</a></li>
            </ul>
            
        </div>
    </div>
</nav>