---
// Container mr-2 ml-2 sm:mr-8 sm:ml-8 md:mr-16 md:ml-mr-16 lg:mr-32 lg:ml-32
---

<!-- Nav -->
<nav class=" pt-6">

    <!-- Container -->
    <div class="container">

        <!-- Nav - Content -->
        <div class=" flex flex-col md:flex-row items-center justify-between gap-4 py-4 px-6 bg-white shadow-md rounded-t-3xl rounded-bl-3xl">
            <img class=" h-12" src="./favicon.svg" alt="">

            <ul class=" flex flex-row gap-4">
                <li class=" py-1 px-3 text-black rounded-lg hover:bg-[#D9A324] hover:text-white"><a href="/blog">Blog</a></li>
                <li class=" py-1 px-3 text-black rounded-lg hover:bg-[#D9A324] hover:text-white"><a href="/about">About Me</a></li>
                <li class=" py-1 px-3 rounded-lg bg-[#007368] hover:bg-[#006057] text-white"><a href="/contact">Contact</a></li>
            </ul>
            
        </div>
    </div>
</nav>