<!-- Social Media -->
<section>
    <div class=" container">
        <div class=" pb-16 md:px-4 lg:px-12">
            <div class=" p-10 flex flex-col gap-4 items-center w-full bg-white rounded-2xl shadow-md">
                <h2 class=" text-green-base">Me Suivre</h2>
                
                <ul class=" flex flex-col flex-wrap md:flex-row gap-2 justify-center items-center md:gap-5">
                    <a href=""><li class=" flex flex-row gap-2 items-center"><img class=" w-8" src="/icon-instagram-portfolio-jaune.png" alt="Icon téléphone">@lestudiodemathilde</li></a>
                    <a href=""><li class=" flex flex-row gap-2 items-center"><img class=" w-8" src="/icon-facebook-portfolio-jaune.png" alt="Icon mail">Le Studio de Mathilde</li></a>
                    <a href=""><li class=" flex flex-row gap-2 items-center"><img class=" w-8" src="/icon-linkedin-portfolio-jaune.png" alt="Icon lieux">Mathilde DECOUX</li></a>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Social Media -->