<!-- Social Media -->
<section class=" py-10">
    <div class=" container">
        <div class=" py-8 p-10 md:px-4 lg:px-12 flex flex-col gap-4 items-center w-full bg-white rounded-2xl shadow-md bg-opacity-90">
            <div class=" flex flex-col gap-1 items-center">
                <h2 class=" text-green-base">Me Suivre</h2>
                <p>Suivez-moi sur les <span class=" font-black">réseaux sociaux</span> pour découvrir mes projets, échanger des idées et suivre mes dernières créations.</p>
            </div>
            
            <ul class=" flex flex-col flex-wrap md:flex-row gap-2 justify-center items-center md:gap-5">
                <a href=""><li class=" flex flex-row gap-2 items-center"><img class=" w-6 pb-1" src="/icon-instagram-portfolio-bleu.png" alt="Icon téléphone">@lestudiodemathilde</li></a>
                <a href=""><li class=" flex flex-row gap-2 items-center"><img class=" w-6 pb-1" src="/icon-facebook-portfolio-bleu.png" alt="Icon mail">Le Studio de Mathilde</li></a>
                <a href=""><li class=" flex flex-row gap-2 items-center"><img class=" w-6 pb-1" src="/icon-linkedin-portfolio-bleu.png" alt="Icon lieux">Mathilde DECOUX</li></a>
            </ul>
        </div>
    </div>
</section>
<!-- Social Media -->