---
import BaseHead from '../components/BaseHead.astro';
import HeaderSimple from '../components/HeaderSimple.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const tags = [...new Set(posts.map((post) => post.data.tags).flat())];
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			.calcul {
				width: calc(50% - 1rem);
			}

			ul li a:hover h4,
			ul li a:hover .date {
				color: rgb(var(--accent));
			}
			ul a:hover img {
				box-shadow: var(--box-shadow);
			}
		</style>
	</head>
	<body class=" bg-white-light">
		<HeaderSimple />

		<p></p>

		<main class=" pb-20">
			<section class="container">
				<!-- Tag -->
				<div class="container">
					<ul class=" flex flex-row flex-wrap gap-1 justify-start pb-2 pr-40 md:pr-20">
						{tags.map((tag) => (
							<li class=" px-4 py-1 max-w-max rounded-lg bg-[#D9A324] hover:bg-[#B5881E] text-white text-sm">
								<a href={`/blog/${tag}/`}>{tag}</a>
							</li>))}
					</ul>
				</div>

				<!-- Card -->
				<div>
                    <slot />
                </div>
			</section>
		</main>

		<Footer />
	</body>
</html>
